In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv ("Restaurant_Reviews.tsv", sep='\t')

In [11]:
import spacy

In [12]:
nlp  = spacy.load ("en_core_web_sm")

In [13]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [ ]:
def process_review (review):